#cate-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#cate-form{
    width: 400px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#cate-form input{
    width: 100%;
    padding: 10px;
    border: 1px solid #c0c1c1;
}
#cate-form button{
    padding: 8px;
    width: 100%;
    background-color: #243e36;
    color: white;
}

#table{
    width: 600px;
    margin: auto;
}

#table table{
    width: 600px;
    margin-left: 10px;
}