#products{
    width: 93%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#products #box{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#products img{
    height: 250px;
    border-radius: 5px;
}