/* #insertform{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#formdata{
    width: 750px;
    margin: 50px auto;
    padding: 30px;
}
#form-main{
    width: 100%;
}

#form-main #insertform {
    margin: auto;
    width: 700px;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

#insertform  #box{
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#insertform  #box input{
    padding: 12px;
    border-radius: 0px;
    margin-bottom: 15px;
    width: 100%;
    border: 1px solid grey;
}
#insertform textarea{
    padding: 10px;
    border-radius: 0px;
    margin-bottom: 15px;
    width: 100%;
    border: 1px solid grey;
}
#insertform select{
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 0px;
    width: 100%;
    border: 1px solid grey;
}

#btn{
    width: 700px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#btn button{
    margin:auto;
    width: 700px;
    border: none;
    background-color: #243e36;
    color: white;
}

#tabledata{
    width: 100%;
    height: 88vh;
    overflow-y: scroll;
}
#tabledata thead th{
    padding: 15px 10px;
} */