#insertform{
    height: 90vh;
    width: 100%;
    background-color: #dcdddd;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    width: 550px;
    margin: auto;
    box-shadow: 0 0 5px #d2d4d4;
}

form input{
    padding: 12px;
    border-radius: 0px;
    margin-bottom: 15px;
    width: 100%;
    border: 1px solid #c0c1c1;
}
form textarea{
    padding: 10px;
    border-radius: 0px;
    margin-bottom: 15px;
    border: 1px solid #c0c1c1;
    width: 100%;
    border: 1px solid #d2d4d4;
}
form select{
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 0px;
    width: 100%;
    border: 1px solid #c0c1c1;
}


form button{
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    border: none;
    background-color: #243e36;
    color: white;
}