
#main{
    width: 95%;
    height: 80vh;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}
#products{
    width: 50%;
    height: 100%;
    margin: auto;
}
#deliveryform{
    margin-bottom: 30px;
    height: 100%;
    width: 40%;
    padding: 20px;
}
#clrbtn{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}
