
#main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#products{
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
    box-shadow: 0 0 5px #e6e6e8;
}
#deliveryform{
    width: 40%;
}
#clrbtn{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}
