#products{
    width: 93%;
    margin: auto;
    margin-bottom: 10px;
    box-shadow: 0 0 5px #e6e6e8;
}
#clrbtn{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}